<div class="nav-pane-left col-md-1">
  <ul class = "nav-pane-items pos-panel-items">
    <li class = "nav-pane-item"  ng-click="goToPosView()">
      <i class="material-icons"><span class="sidebar-font">shopping_cart</span></i>
      <a> &nbsp POS &nbsp </a>
    </li>
    <li class = "nav-pane-item"  ng-click="showVoucherClaimDialog()">
      <i class="material-icons"><span class="sidebar-font">assignment_turned_in</span></i>
      <a> Claim Voucher </a>
    </li>
    <li class = "nav-pane-item"  ng-click="showVoucherCreateDialog()">
      <i class="material-icons"><span class="sidebar-font">description</span></i>
      <a> Issue Voucher </a>
    </li>
    <li class = "nav-pane-item"  ng-click="goToReturnsView()">
      <i class="material-icons"><span class="sidebar-font">receipt</span></i>
      <a> Returns </a>
    </li>
  </ul>
</div>

<div class="nav-pane-content col-md-11">
  <div class="nav-header">
    <h3 class="nav-header-item"> {{ header }} </h3>
    <div ng-click="logout()" class="nav-header-item header-right header-button">
      Logout
    </div>
  </div>

  <search-popup ng-if="showVoucherClaimForm" title="Claim Voucher" theme="yellow" icon="assignment_turned_in" search-title="Voucher ID" bind-search="voucher.id" cancel="hideAllDialogs()" confirm="confirmValidation()"></search-popup>

  <voucher-form ng-if="showVoucherCreateForm" cancel="hideAllDialogs()"></voucher-form>

  <div class="ui-view"></div>
</div>