<div class="form-header">
	<div class="metro-tile metro-peterriver metro-left back-button">
	</div>

	<div class="metro-tile metro-peterriver form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> assignment_ind </span></i>
			<span class="banner-title"> Issue Voucher </span>
		</div>
	</div>
</div>

<div class="voucher-info col-md-5 col-md-s3">
	<table>
		<tr>
			<td width="180" class="key"> Voucher ID </td>
			<td width="210" class="value"> {{ voucher.voucherId }} </td>
		</tr>

		<tr>
			<td width="180" class="key"> Amount </td>
			<td width="210" class="value"> Rs. {{ voucher.amount }} </td>
		</tr>

		<tr>
			<td width="180" class="key"> Issue Branch </td>
			<td width="210" class="value"> {{ voucher.branchName }} </td>
		</tr>

		<tr>
			<td width="180" class="key"> Expiry Date </td>
			<td width="210" class="value"> {{ voucher.expiry }} </td>
		</tr>
	</table>
</div>

