<div class="message-screen"></div>

<div class="message-box">
	<div class="message-header metro-purple">
		<i class="material-icons"> <span class="voucher-icon"> receipt </span></i>
		<div class="message-title"> Search Invoice </div>
	</div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<label for="invoiceid"> Invoice ID </label>
			<input class="input-purple" id="invoiceid" type="text"/>
		</div>

		<div class="col-md-s5">
			<div ng-click="confirm()" class="btn btn-default">
				Search
			</div>
		</div>
	</div>
</div>