<notification ng-if="successNotification" text="Invoice Created" type="success" action="closeNotification"></notification>

<search-popup ng-if="showInsertDialog" title="Add Product" search-title="Enter Product ID" icon="receipt" theme="blue" confirm="insertProductById()" cancel="hideAddProductDialog()" bind-search="query.prodId"></search-popup>

<div class="pos-panel col-md-10">
	<div ng-if="products.length > 0" class="thumbs-panel col-md-8">
		<div ng-repeat="product in products" class="metro-tile pos-tile col-md-3">
			<div ng-click="incrementQuantity($index)" class="tile-header">
				<i class="material-icons"> <span class="qty-icon"> keyboard_arrow_up </span> </i>
			</div>
			<div class="tile-content">
				<img height="90%" width="90%" src="data:image/jpeg;base64, {{ product.image }}"/>
				<div class="qty-badge"> {{ product.qty }} </div>
			</div>
			<div ng-click="dropQuantity($index)" class="tile-header">
				<i class="material-icons"> <span class="qty-icon"> keyboard_arrow_down </span> </i>
			</div>
		</div>
	</div>

	<div ng-if="products.length === 0" class="thumbs-panel col-md-8">
		<div class="col-md-s3 chart-label"> Standing By For Product Entry </div>
		<div class="pos-zero">
			<i class="material-icons"><span class="pos-font">shopping_cart</span></i>
		</div>
	</div>

	<div class="list-panel col-md-3">
		<div class="list-header metro-peterriver">
			<h3> Total </h3>
			<h1> Rs {{ total.toFixed(2) }} </h1>
			<h3> Items: {{ totalItems }} </h3>
		</div>
		<div class="list-divider metro-red"></div>

		<div ng-if="products.length === 0" class="list-body">
			<div ng-repeat="i in [1, 2, 3, 4]" class="nav-pane-item nav-list-item pos-item"> &nbsp </div>
		</div>

		<div ng-if="products.length > 0" class="list-body">
			<div ng-repeat="product in products" class="nav-pane-item nav-list-item pos-item">
				{{ product.name }} <span class="label-grey"> @ Rs. {{ product.price.toFixed(2) }} </span>
			</div>
		</div>

		<div class="list-footer">
			<div class="metro-tile list-tile metro-sunflower col-md-6">
				<div class="metro-content">
					<div class="icon-block" ng-click="showAddProductDialog()">
						<i class="material-icons"> <span class="btn-tile"> <i class="material-icons">add_shopping_cart</i> </span> </i>
					</div> Add
				</div>
			</div>

			<div class="metro-tile list-tile metro-greensea col-md-6">
				<div class="metro-content">
					<div class="icon-block">
						<i class="material-icons"> <span class="btn-tile"> <i class="material-icons"> done </i> </span> </i>
					</div> Verify
				</div>
			</div>

		</div>
		<div ng-click="connectReader()" ng-if="readerDisconnected" class="reader-label">
				<i class="material-icons"> <span class="label-grey"> autorenew </span> </i> READER OFFLINE
		</div>

		<div ng-click="connectReader()" ng-if="!readerDisconnected" class="reader-label">
				<i class="material-icons"> <span class="label-grey label-green"> check_circle </span> </i> READER ONLINE
		</div>
	</div>
</div>