<!-- <notification ng-if="successNotification" text="Invoice Created" type="success" action="closeNotification"></notification>

<div class="col-md-s1">
	<div class="search-box col-md-9">
		<input class="col-md-11" vd-numeric type="text" ng-model="query.prodId" placeholder="Enter product id here" autofocus/>
	</div>

	<div class="btn btn-default btn-fab" ng-click="insertProductById()"> + </div>
</div>
 -->
<div class="pos-panel col-md-11">
	<div class="thumbs-panel col-md-8">
		<div class="metro-tile pos-tile metro-peterriver col-md-3">
			<div class="metro-content metro-center"> nbsp </div>
		</div>
		<div class="metro-tile pos-tile col-md-3">
			<div class="metro-content metro-center"> nbsp </div>
		</div>
		<div class="metro-tile pos-tile col-md-3">
			<div class="metro-content metro-center"> nbsp </div>
		</div>
		<div class="metro-tile pos-tile col-md-3">
			<div class="metro-content metro-center"> nbsp </div>
		</div>
	</div>
	<div class="list-panel col-md-3">
		<div class="list-header">
			<h3> Total </h3>
			<h1> Rs 0.00 </h1>
			<h3> Items: 4 </h3>
		</div>
		<div class="list-divider"></div>
		<div class="list-body">
			<div class="nav-pane-item nav-list-item pos-item"> Item 1 </div>
			<div class="nav-pane-item nav-list-item pos-item"> Item 2 </div>
			<div class="nav-pane-item nav-list-item pos-item"> Item 3 </div>
			<div class="nav-pane-item nav-list-item pos-item"> Item 4 </div>
		</div>
		<div class="list-footer">
			<div class="metro-tile list-tile metro-greensea col-md-12">
				<div class="metro-content">
					<span class="btn-icon"> <i class="material-icons"> done </i></span> Verify Invoice
				</div>
			</div>

			<!-- <div class="metro-tile list-tile metro-purple col-md-6">
				<div class="metro-content">
					<span class="btn-icon"> <i class="material-icons"> done </i></span> Vouchers
				</div>
			</div>

			<div class="metro-tile list-tile metro-sunflower col-md-6">
				<div class="metro-content">
					<span class="btn-icon"> <i class="material-icons"> done </i></span> Returns
				</div> -->
			</div>
		</div>
	</div>
</div>