
<div class="col-md-s1">
	<div class="search-box col-md-9">
		<input class="col-md-11" vd-numeric type="text" ng-model="query.prodId" placeholder="Enter product id here" autofocus/>
	</div>

	<div class="btn btn-default btn-fab" ng-click="insertProductById()"> + </div>
</div>

<div class="zero-products" ng-if="products.length === 0">
	<img class="nfc-sticker col-md-s4" src="/img/nfc-ico.png"/>
	<div class="nfc-label"> Start Adding Items By Scanning Or Manual Entry </div>
</div>

<div ng-if="products.length > 0" class="pos-table col-md-8 col-md-s2">
	<table border="1">
		<tr>
			<th> ProdId </th>
			<th> ProdName </th>
			<th> UnitPrice </th>
			<th> Quantity </th>
		</tr>

		<tr ng-repeat="prod in products">
			<td>
				{{ prod.id }}
			</td>

			<td>
				{{ prod.name}}
			</td>

			<td>
				{{ prod.price}}
			</td>

			<td>
				{{ prod.qty }}

				<div class="quantity-buttons">
					<i class="material-icons" ng-click="dropQuantity(prod.id)"><span class="qty-icon"> remove </span></i>
					<i class="material-icons" ng-click="removeProduct(prod.id)"><span class="qty-icon qty-remove"> clear </span></i>
				</div>
			</td>

		</tr>
	</table>
</div>

<div ng-if="products.length > 0" class="row">
	<div class="col-md-s5">
		<div ng-click="createInvoice()" class="btn btn-confirm">
			Confirm
		</div>
	</div>
</div>