<div class="message-screen"></div>

<div class="message-box">
	<div class="message-header metro-sunflower">
		<i class="material-icons"> <span class="voucher-icon"> assignment_turned_in </span></i>
		<div class="message-title"> Validate Voucher </div>
	</div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<label for="voucherid"> Voucher ID </label>
			<input class="input-sunflower" id="voucherid" type="text"/>
		</div>

		<div class="col-md-s3">
			<div ng-click="confirm()" class="btn btn-default">
				Validate
			</div>
			<div ng-click="cancel()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>