<div class="metro-container">
	<div ng-click="goToCreateVoucher()" class="metro-tile metro-peterriver col-md-6 voucher-tile">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> description </span> </i>
			<div> Create Voucher </div>
		</div>
	</div>

	<div ng-click="promptValidation()" class="metro-tile metro-sunflower col-md-6 voucher-tile">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> assignment_turned_in </span> </i>
			<div> Validate voucher </div>
		</div>
	</div>
</div>

<search-popup ng-if="showValidation" title="Search Vouchers" theme="yellow" icon="assignment_turned_in" search-title="Voucher ID" bind-search="voucher.id" cancel="cancelValidation()" confirm="confirmValidation()"></search-popup>