<div class="message-screen"></div>
<div class="message-box form-box">
	<div class="metro-peterriver message-header">
		<i class="material-icons"> <span class="voucher-icon"> assignment_ind </span></i>
		<div class="message-title"> Create Voucher </div>
	</div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<label for="amount"> Amount </label>
			<input vd-required vd-numeric ng-model="voucher.amount" id="amount" type="text" autofocus/>

			<label for="validthrough"> Valid through </label>
			<input ng-model="voucher.expiry" id="validthrough" type="date"/>

			<label for="contact"> Mobile Number </label>
			<input ng-model="voucher.contact" vd-numeric id="contact" type="text"/>
		</div>

		<div class="col-md-s2">
			<div ng-click="createVoucher()" class="btn btn-default">
				Create
			</div>

			<div ng-click="cancel()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>