<div ng-class="{'metro-red' : type == 'error', 'metro-greensea': type == 'success'}" class="metro-tile message-box">
	<div class="quantity-buttons">
		<i class="material-icons" ng-click="close({action:'CLOSE'})"><span class="notification-icon"> clear </span></i>
	</div>
	<div class="metro-content metro-center">
		<div class="notification-text"> {{ text }} </div>
		<div>
			<div ng-click="close({type:'OK'})" ng-class="{'btn-delete' : type == 'error', 'btn-success' : type == 'success'}" class="btn"> OK </div>
		</div>
	</div>

</div>