<div class="nav-pane-left col-md-1">

  <ul class = "nav-pane-items pos-panel-items">
    <li class = "nav-pane-item"  ng-click="goToDashboard()">
      <i class="material-icons"><span class="sidebar-font"> assignment </span></i>
      <a> Dashboard </a>
    </li>
    <li class = "nav-pane-item"  ng-click="goToStats()">
      <i class="material-icons"><span class="sidebar-font"> equalizer </span></i>
      <a> Statistics </a>
    </li>
    <li class = "nav-pane-item"  ng-click="goToProductsMgtView()">
      <i class="material-icons"><span class="sidebar-font"> local_mall </span></i>
      <a> Manage Products </a>
    </li>
    <li class = "nav-pane-item"  ng-click="goToCashierMgtView()">
      <i class="material-icons"><span class="sidebar-font"> account_box </span></i>
      <a> Manage Cashiers </a>
    </li>
  </ul>

</div>

<div class="nav-pane-content col-md-11">
  <div class="nav-header">
    <h3 class="nav-header-item"> {{ header }} </h3>
      <div class="tooltip nav-header-item header-right ">
        <div ng-click="logout()" class="nav-header-item header-right header-button">
          <i class="material-icons"><span class="sidebar-font"> power_settings_new </span></i>
            <span class="tooltiptext">Logout</span>
        </div>
      </div>
  </div>
  <div class="ui-view"></div>
</div>