<div class="nav-pane-left">

  <div class="nav-pane-header">
    <img class="nav-header-image" src="img/user-head.png"/>
  </div>

  <ul class = "nav-pane-items">
    <li class = "nav-pane-item"  ng-click="goToDashboard()"> <a> Dashboard </a> </li>
    <li class = "nav-pane-item"  ng-click="goToStats()"> <a> View Stats </a> </li>
    <li class = "nav-pane-item"  ng-click="goToProductsMgtView()"> <a> Manage Products </a> </li>
    <li class = "nav-pane-item" ng-click="goToCashierMgtView()"> <a> Manage Cashiers </a> </li>
  </ul>

  <div class="nav-pane-footer">
    <div ng-show="readerDisabled" class="reader-indicator reader-red col-md-8 col-md-s1"> offline </div>
  </div>

</div>

<div class="nav-pane-content">
  <div class="nav-header">
    <h3 class="nav-header-item"> {{ header }} </h3>
    <div ng-click="logout()" class="nav-header-item header-right header-button">
      Logout
    </div>
  </div>
  <div class="ui-view"></div>
</div>