<div class="metro-container admin-container col-md-s1">
	<div class="metro-tile cashier-tile metro-greensea col-md-3">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> person_add </span> </i>
			<div> Signup Cashier </div>
		</div>
	</div>
	<div class="metro-tile cashier-tile metro-sunflower col-md-4">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> autorenew </span> </i>
			<div> Update Cashier </div>
		</div>
	</div>
	<div class="metro-tile cashier-tile metro-red col-md-3">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> person_outline </span> </i>
			<div> Delete Cashier </div>
		</div>
	</div>
</div>