<notification ng-if="showMismatch" text="Re-entered passwords does not match" type="error" action="closeNotification"></notification>
<notification ng-if="showCreation" text="Cashier created" type="success" action="closeNotification"></notification>
<notification ng-if="showExists" text="User Exists" type="error" action="closeNotification"></notification>

<div class="form-header">
	<div class="metro-tile metro-greensea metro-left back-button">
	</div>

	<div class="metro-tile metro-greensea form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> person_add </span></i>
			<span class="banner-title"> Signup Cashier </span>
		</div>
	</div>
</div>
<div class="message-box form-box">
	<div class="message-box-content">

	<div class="col-md-s1">
		<label for="fname"> First Name </label>
		<input vd-required ng-model="cashier.fname" class="input-greensea" id="fname" type="text" autofocus/>

		<label for="lname"> Last Name </label>
		<input vd-required ng-model="cashier.lname" class="input-greensea" id="lname" type="text"/>

		<label for="email"> E-Mail </label>
		<input vd-required ng-model="cashier.email" class="input-greensea" id="email" type="text"/>

		<label for="contact"> Contact Number </label>
		<input vd-numeric vd-maximum="10" vd-minimum="10" ng-model="cashier.contact" class="input-greensea" id="contact" type="text"/>

		<label for="uname"> Username </label>
		<input vd-required ng-model="cashier.uname" class="input-greensea" id="uname" type="text"/>

		<label for="passwd"> Password </label>
		<input vd-required vd-minimum="8" ng-model="cashier.passwd" class="input-greensea" id="passwd" type="password"/>

		<label for="confirmpw"> Retype password </label>
		<input vd-required vd-minimum="8" ng-disabled="cashier.passwd.length == 0" ng-model="cashier.confirmpw" class="input-greensea" id="confirmpw" type="password"/>
		</div>

		<div class="col-md-s4">
			<div ng-click="createCashier()" class="btn btn-default">
				Add Cashier
			</div>
		</div>
	</div>
</div>