<div class="metro-container admin-container col-md-s1">
	<div ng-click="goToSignUpView()" class="metro-tile cashier-tile metro-greensea col-md-3">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> person_add </span> </i>
			<div> Signup Cashier </div>
		</div>
	</div>
	<div ng-click="searchCashiers('update')" class="metro-tile cashier-tile metro-sunflower col-md-4">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> autorenew </span> </i>
			<div> Update Cashier </div>
		</div>
	</div>
	<div ng-click="searchCashiers('delete')" class="metro-tile cashier-tile metro-red col-md-3">
		<div class="metro-content metro-center">
			<i class="material-icons"> <span class="voucher-icon"> person_outline </span> </i>
			<div> Delete Cashier </div>
		</div>
	</div>
</div>

<search-popup ng-if="searchCashier" title="Search Cashiers" search-title="Cashier Name" icon="people" bind-search="cashier.name" bind-validation="validation" theme="purple" cancel="cancelSearch()" confirm="confirmSearch()" ></search-popup>