<div class="message-screen"></div>

<div class="message-box">
	<div class="message-header metro-purple">
		<i class="material-icons"> <span class="voucher-icon"> people </span></i>
		<div class="message-title"> Find Cashier </div>
	</div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<label for="cashierid"> Cashier ID </label>
			<input class="input-purple" id="cashierid" type="text"/>
		</div>

		<div class="col-md-s3">
			<div ng-click="confirm()" class="btn btn-default">
				Find
			</div>
			<div ng-click="cancel()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>