<div class="form-header">
	<div class="metro-tile metro-purple metro-left back-button">
	</div>

	<div class="metro-tile metro-purple form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> redeem </span></i>
			<span class="banner-title"> Add Product </span>
		</div>
	</div>
</div>
<div class="message-box form-box col-md-s1 col-md-9">
	<div class="message-box-content col-md-12">
		<div class="col-md-6 product-details">
			<label for="productname"> Name </label>
			<input id="productname" vd-required ng-model="product.name" class="input-purple" type="text" autofocus/>

			<label for="unitprice"> Unit Price </label>
			<input id="unitprice" vd-required vd-numeric ng-model="product.price" class="input-purple" type="text"/>

			<label for="productcat"> Category </label>
			<input id="productcat" ng-model="product.category" class="input-purple" type="text"/>

			<label> Age Group </label>
			<div class="input-group col-md-s3">
				<input type = "radio" ng-model="product.age" name="agegroup" value="ANY"checked="checked"/> Any <br>
				<input type = "radio" ng-model="product.age" name="agegroup" value="6M-1Y"/> 6 months - 1 year <br>
				<input type = "radio" ng-model="product.age" name="agegroup" value="1Y-5Y"/>	1 year - 5 years <br>
				<input type = "radio" ng-model="product.age" name="agegroup" value="5Y-9Y"/>	5 years - 9 years <br>
				<input type = "radio" ng-model="product.age" name="agegroup" value="9Y-12Y"/>	9 years - 12 years <br>
			</div>

			<label for="arriveddate"> Arrived Date </label>
			<input ng-model="product.arrival" id="arriveddate" class="input-purple" type="date"/>
		</div>

		<div class="image-box col-md-6">
			<div class="image-container">
				<input class="image-input" id="prodimage" type="file" file-holder="fileHolder"/>
				<img class="product-thumb" ng-if="thumbImage.length != 0" src="{{ thumbImage }}"/>
				<div ng-click="uploadImage()" class="btn btn-fab image-button btn-warn">U</div>
			</div>
			<label for="description"> Description </label>
			<input id="description" type="textarea" rows="3" class="input-purple product-description" ng-model="product.description" />
		</div>

	</div>
</div>

<div ng-click="createProduct()" class="btn btn-confirm add-product-button">
	Add Product
</div>
