<div class="form-header">
	<div class="metro-tile metro-purple metro-left back-button">
	</div>

	<div class="metro-tile metro-purple form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> redeem </span></i>
			<span class="banner-title"> Add Product </span>
		</div>
	</div>
</div>
<div class="message-box form-box">
	<div class="message-box-content">

		<div class="col-md-s1">
			<label for="productname"> Product Name </label>
			<input id="productname" type="text" autofocus/>

			<label for="unitprice"> Price </label>
			<input id="unitprice" type="text"/>

			<label for="productcat"> Product Category </label>
			<input id="productcat" type="text"/>
			
			<label for="productgroup"/> Product Age Group </label>
			
			<div class="col-md-s4">			
			<input  type = "radio" name="productgroup"/> 6 - 12 <br>
			<input type = "radio" name="productgroup"/>	13 - 20 <br>
			</div>



			<label for="productquantity"> Product Quantity </label>
			<input id="productquantity" type="text"/>
			
			<label for="arriveddate"> Arrived Date </label>
			<input id="arriveddate" type="date"/>
		</div>

		<div class="col-md-s4">
			<div class="btn btn-default">
				Add Product
			</div>
		</div>
	</div>
</div>