<div class="metro-container admin-container col-md-11 col-md-s1">
	<div class="metro-tile admin-tile metro-peterriver col-md-7">
		<div class="metro-container">
			<div class="metro-content metro-badge col-md-2">
				<i class="material-icons"><span class="badge-icon"> assessment </span></i>
				<div class="badge-title"> Inventory </div>
			</div>
			<div class="metro-content col-md-5">
				<chart-window width="100" height="2" type="bar" data="inventoryData"></chart-window>
			</div>
		</div>
	</div>

	<div class="metro-tile admin-tile metro-sunflower col-md-4">
		<div class="metro-container">
			<div class="metro-content metro-badge col-md-2">
				<i class="material-icons"><span class="badge-icon"> account_circle </span></i>
				<div class="badge-title"> Logins </div>
			</div>
			<div class="metro-content col-md-5"></div>
		</div>
	</div>

	<div class="metro-tile admin-tile metro-greensea col-md-4">
		<div class="metro-content metro-badge col-md-2">
				<i class="material-icons"><span class="badge-icon"> info </span></i>
				<div class="badge-title"> Notifications </div>
		</div>
		<div class="metro-content col-md-5"></div>
	</div>

	<div class="metro-tile admin-tile metro-purple col-md-7">
		<div class="metro-content metro-badge col-md-2">
				<i class="material-icons"><span class="badge-icon"> timeline </span></i>
				<div class="badge-title"> Sales </div>
		</div>
		<div class="metro-content col-md-5"></div>
	</div>
</div>