<div class="form-header">
	<div class="metro-tile metro-red metro-left back-button">
	</div>

	<div class="metro-tile metro-red form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> person_outline </span></i>
			<span class="banner-title"> Delete Cashier </span>
		</div>
	</div>
</div>

<div class="product-list col-md-5 col-md-s4">
	<div ng-repeat="staff in searchResults" ng-click="selectCashier(staff.id)" class="nav-pane-item nav-list-item nav-delete">
		{{ staff.fname }} {{ staff.lname }} (ID: {{ staff.id }})
	</div>
</div>