<div>
<notification ng-if="showNotification" text="{{notification.message}}" type="{{notification.type}}" action="deleteProduct"></notification>
</div>

<div class="form-header">
	<div class="metro-tile metro-red metro-left back-button">
	</div>

	<div class="metro-tile metro-red admin-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> delete_forever </span></i>
			<span class="banner-title"> Delete Product </span>
		</div>
	</div>
</div>

<div class="product-list col-md-5 col-md-s4">
	<div ng-repeat="product in searchResults" ng-click="selectProduct($index, 'delete')" class="nav-pane-item nav-list-item nav-delete">
		{{ product.name }} (ID: {{ product.id }})
	</div>
</div>
