<div class="form-header">
	<div class="metro-tile metro-peterriver metro-left back-button">
	</div>

	<div class="metro-tile metro-peterriver form-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> graphic_eq </span></i>
			<span class="banner-title"> Product Statistics </span>
		</div>
	</div>
</div>

<div class="col-md-s1">
	<div class="stat-inputs col-md-5">
		<label for="start"> From </label>
		<input ng-model="startDate" ng-change="updateData('all')" id="start" type="date">
	</div>

	<div class="stat-inputs col-md-5">
		<label for="end"> To </label>
		<input ng-model="endDate" ng-change="updateData('all')" id="end" type="date">
	</div>

	<div class="chart-area">
		<div class="product-list col-md-2">
			<ul class="nav-pane-items">
				<li ng-click="updateData('all')" class="nav-pane-item nav-white"> All </li>
				<li class="nav-pane-item nav-white" ng-click="updateData($index)" ng-repeat="product in products">
					{{ product.prod_name }}
				</li>
			</ul>
		</div>

		<div class="chart-view col-md-9">
			<chart-window ng-if="prodData.length > 1" width="200" height="200" type="line" line-color="#3498db" data="prodData"></chart-window>
			<div ng-if="prodData.length < 2" class="col-md-s3 chart-label"> Not enough data points to plot </div>
		</div>
	</div>

	<div ng-if="prodData.length > 1" class="col-md-9 col-md-s2">
		<div class="chart-area stat-ribbon">
			<div class="metro-tile metro-peterriver col-md-4">
				<div class="metro-content">
					<div class="ribbon-header"> Average </div>
					<div class="ribbon-content"> Rs. {{ average.toFixed(2) }} </div>
				</div>
			</div>
			<div class="metro-tile metro-sunflower col-md-4">
				<div class="metro-content">
					<div class="ribbon-header"> Total Worth </div>
					<div class="ribbon-content"> Rs. {{ sum.toFixed(2) }} </div>
				</div>
			</div>
			<div class="metro-tile metro-greensea col-md-4">
				<div class="metro-content">
					<div class="metro-content ribbon-header"> Peak Sales </div>
					<div class="ribbon-content"> Rs. {{ peak.toFixed(2) }} </div>
				</div>
			</div>
		</div>
	</div>
</div>