<notification ng-if="showNotification" text="{{notification.message}}" type="{{notification.type}}" action="closeNotification"></notification>

<div class="form-header">
	<div class="metro-tile metro-sunflower metro-left back-button">
	</div>

	<div class="metro-tile metro-sunflower admin-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> autorenew </span></i>
			<span class="banner-title"> Update Cashier Info </span>
		</div>
	</div>
</div>

<div ng-if="searchResults.length > 1" class="product-list col-md-5 col-md-s4">
	<div ng-repeat="staff in searchResults" ng-click="selectCashier($index)" class="nav-pane-item nav-list-item">
		{{ staff.fname }} {{ staff.lname }} (ID: {{ staff.id }})
	</div>
</div>

<div ng-if="searchResults.length <= 1" class="message-box form-box">
	<div class="message-box-content">

	<div class="col-md-s1">
	    <label for="fname"> First Name </label>
		<input id="fname" placeholder="{{cashier.fname}}" ng-model="delta.fname" class="input-sunflower" ng-change="updateField('fname')"
		type="text" autofocus/>

		<label for="lname"> Last Name </label>
		<input id="lname" placeholder="{{cashier.lname}}" ng-model="delta.lname" class="input-sunflower" ng-change="updateField('lname')"
		type="text"/>

		<label for="contact"> Contact Number </label>
		<input id="contact" placeholder="{{cashier.contact}}" ng-model="delta.contact" class="input-sunflower" ng-change="updateField('contact')"
		type="text"/>

		<label for="uname"> Username </label>
		<input id="uname" placeholder="{{cashier.uname}}" ng-model="delta.uname" class="input-sunflower" ng-change="updateField('uname')"
		type="text"/>

		<label for="passwd"> Password </label>
		<input id="passwd" placeholder="{{cashier.passwd}}" ng-model="delta.passwd" class="input-sunflower" ng-change="updateField('passwd')"
		type="text"/>
		</div>

		<div class="col-md-s4">
			<div ng-click="updateCashier()" class="btn btn-confirm">
				Update
			</div>
		</div>
	</div>
</div>