<notification ng-if="showNotification" text="{{notification.message}}" type="{{notification.type}}" action="closeNotification"></notification>

<div class="form-header">
	<div class="metro-tile metro-peterriver metro-left back-button">
	</div>

	<div class="metro-tile metro-peterriver admin-banner">
		<div class="metro-content banner-content">
			<i class="material-icons"> <span class="banner-icon"> widgets </span></i>
			<span class="banner-title"> Update Stock </span>
		</div>
	</div>
</div>

<div ng-if="!delta" class="product-list col-md-5 col-md-s4">
	<div ng-repeat="product in searchResults" ng-click="selectProduct($index)" class="nav-pane-item nav-list-item">
		{{ product.name }} (ID: {{ product.id }})
	</div>
</div>

<div ng-if="delta" class="message-box form-box">
	<div class="message-box-content">
		<div class="message-title-stock">
		Item: &nbsp {{ product.name }}
		</div>
	</div>

	<div class="message-box-content stock-container">

		<div class="input-fields col-md-s1">
			<label for="update"> New Quantity </label>
			<input vd-required vd-numeric ng-model="delta.qty" class="input-peterriver" id="update" type="text"/>
		</div>

		<div align="center">
			<div ng-click="updateStock()" class="btn btn-default col-md-2">
			update stock
			</div>
		</div>
	</div>
</div>