<div class="message-screen"></div>

<div class="message-box">
	<div class="message-header metro-peterriver">
		<i class="material-icons"> <span class="voucher-icon"> description </span></i>
		<div class="message-title"> Create Voucher </div>
	</div>

	<div class="message-box-content">

		<div class="col-md-s1">
			<label for="amount"> Amount </label>
			<input id="amount" type="text"/>

			<label for="validfrom"> Valid from </label>
			<input id="validfrom" type="text"/>
			
			<label for="validthrough"> Valid through </label>
			<input id="validthrough" type="text"/>
		</div>

		<div class="col-md-s3">
			<div class="btn btn-default">
				Create
			</div>
			<div ng-click="cancel()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>