<div>
	<svg height="100%" width="100%" viewbox="{{'0 -5 ' + width + ' ' + height}}">
		<g>
			<polyline fill="none" stroke="{{ lineColor }}" stroke-width="0.7" ng-attr-points="{{points}}"/>
		</g>

		<g ng-repeat="marker in markers">
			<text ng-if="!$last" class="marker-text" ng-attr-x="{{marker.coords.x + 3}}" ng-attr-y="{{marker.coords.y + 2}}"> {{ marker.label }} </text>

			<text ng-if="$last" class="marker-text" style="{ fill: {{textColor}} ;}" ng-attr-x="{{marker.coords.x - 25}}" ng-attr-y="{{marker.coords.y + 5}}"> {{ marker.label }} </text>
		</g>

		<g ng-repeat="marker in markers">
			<circle ng-attr-cx="{{ marker.coords.x }}" ng-attr-cy="{{ marker.coords.y }}" r="2" fill="{{ lineColor }}" fill-opacity="0.5"/>
			<circle ng-attr-cx="{{ marker.coords.x }}" ng-attr-cy="{{ marker.coords.y }}" r="1" fill="{{ lineColor }}"/>
		</g>

	</svg>
</div>