<div>
	<svg height="100%" width="100%" viewbox="{{'0 -5 ' + width + ' ' + height}}">
		<g>
			<polyline fill="none" stroke="#fff" stroke-width="0.7" points="{{points}}"/>
		</g>

		<g ng-repeat="marker in markers">
			<text ng-if="!$last" class="marker-text" x="{{marker.coords.x + 3}}" y="{{marker.coords.y + 2}}"> {{ marker.label }} </text>

			<text ng-if="$last" class="marker-text" x="{{marker.coords.x - 25}}" y="{{marker.coords.y + 5}}"> {{ marker.label }} </text>
		</g>

		<g ng-repeat="marker in markers">
			<circle cx="{{ marker.coords.x }}" cy="{{ marker.coords.y }}" r="2" fill="white" fill-opacity="0.5"/>
			<circle cx="{{ marker.coords.x }}" cy="{{ marker.coords.y }}" r="1" fill="white"/>
		</g>

	</svg>
</div>