<notification class="login-notif" ng-if="showInvalidLogin" text="Login Failed! Please check your username/password" type="error" action="closeNotifications"></notification>

<div class="login-form">
<div class="message-box col-md-s3 col-md-4">
	<div class="metro-greensea message-header">
		<i class="material-icons"> <span class="voucher-icon"> assignment_ind </span></i>
		<div class="message-title"> Login </div>
	</div>

	<div class="message-box-content">
		<div class="input-fields col-md-s1">
			<label for="uname"> Username </label>
			<input ng-model="user.uname" class="input-greensea" id="uname" type="text"/>

			<label for="password"> Password </label>
			<input ng-model="user.passwd" class="input-greensea" id="password" type="password"/>
		</div>

		<div align="center">
			<div ng-click="logIn()" class="btn btn-default col-md-2">
				Login
			</div>
		</div>
	<div class="col-md-13" align="center"> <a ui-sref="reset" class="resetText">Forgot password?</a></div>
	</div>
</div>
</div>