<div class="login-form">
<div class="message-box col-md-s3 col-md-4">
	<div class="metro-greensea message-header">
		<i class="material-icons"> <span class="voucher-icon"> assignment_ind </span></i>
		<div class="message-title"> Log In </div>
	</div>

	<div class="message-box-content">
		<div class="input-fields col-md-s1">
			<label for="uname"> User Name </label>
			<input class="input-greensea" id="uname" type="text"/>

			<label for="password"> Password </label>
			<input class="input-greensea" id="password" type="password"/>
		</div>

		<iv class="col-md-s4">
			<div ng-click="createVoucher()" class="btn btn-default col-md-2">
				Login
			</div>
		</div>
	</div>
</div>
</div>