<div class="nav-pane-content">
      <div class="nav-pane-left">

        <div class="nav-pane-header">
          <img class="nav-header-image" src="img/user-head.png"/>
        </div>

        <ul class = "nav-pane-items">
          <li class = "nav-pane-item"> <a ng-click="goToPos()"> POS View </a> </li>
          <li class = "nav-pane-item"> <a ng-click="goToVproc()"> Voucher Processing </a> </li>
          <li class = "nav-pane-item"> <a> Return Processing </a> </li>
        </ul>

      </div>

      <div class="nav-header">
        <h3> {{ header }} </h3>
      </div>

      <div class="nav-content">     
        <div class="ui-view">
        </div>
      </div>
</div>