
<div class="zero-products" ng-if="products.length === 0">
	<img ng-click="toggleDialog()" class="nfc-sticker col-md-s4" src="/img/nfc-ico.png"/>
	<div class="nfc-label"> Start Adding Items By Scanning Or Manual Entry </div>
</div>

<div ng-if="products.length > 0" class="pos-table col-md-8 col-md-s2">
	<table border="1">
		<tr>
			<th> ProdId </th>
			<th> ProdName </th>
			<th> UnitPrice </th>
			<th> Quantity </th>
		</tr>

		<tr ng-repeat="prod in products">
			<td>
				{{ prod.prod_id }}
			</td>

			<td>
				{{ prod.prod_name}}
				<span class="icon-close"></span>
			</td>

			<td>
				{{ prod.unit_price}}
			</td>

			<td>
				{{ prod.qty }}
			</td>

		</tr>
	</table>
</div>

<div ng-if="products.length > 0" class="row">
	<div class="col-md-s4">
		<div ng-click="toggleDialog()" class="btn btn-default">
			Add Item
		</div>
		<div ng-click="recordPurchase()" class="btn btn-confirm">
			Confirm
		</div>
	</div>
</div>

<div ng-if="showDialog" class="message-screen"></div>

<div ng-if="showDialog" class="message-box">
	<div class="message-header">
		<img class="message-icon" src="/img/cart-ico.png"/>
		<div class="message-title"> Add Item </div>
	</div>
	<div class="down-arrow"></div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<input type="text" ng-model="query.prodId" placeholder="Product ID here"/>
		</div>

		<div class="col-md-s3">
			<div ng-click=searchItemId() class="btn btn-confirm">
				Add Item
			</div>
			<div ng-click="toggleDialog()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>