
<div class="col-md-s1">
	<input class="search-box" type="text" placeholder="Enter product ID here" autofocus/>
	<div class="btn btn-default btn-fab" ng-click="searchItemId()"><i class="material-icons"> search </i></div>
</div>
<div class="col-md-9 col-md-s1">
	<table>
		<th>
			Product ID
		</th>
		<th>
			Product Name
		</th>
		<th>
			Quantity
		</th>
	</table>
</div>
<div class="col-md-s1">
<div class="btn btn-add btn-fab" ng-click="addItem()"><i class="material-icons"> add </i></div>
	<div class="btn btn-delete btn-fab" ng-click="deleteItem()"><i class="material-icons"> delete </i></div>
	<div class="btn btn-update btn-fab" ng-click="updateItem()"><i class="material-icons"> update </i></div>
</div>
	
</div>