<notification class="login-notif" ng-if="showResetFailed" text="Reset Failed! Please check your e-mail" type="error" action="closeNotifications"></notification>

<notification class="login-notif" ng-if="showResetSuccess" text="Reset link was sent to your mail" type="success" action="closeNotifications"></notification>

<div class="login-form">
<div class="message-box col-md-s3 col-md-4">
	<div class="metro-greensea message-header">
		<i class="material-icons"> <span class="voucher-icon"> assignment_late </span></i>
		<div class="message-title"> Reset Password </div>
	</div>

	<div class="message-box-content">
		<div class="input-fields col-md-s1">
			<label for="email"> Enter your email </label>
			<input vd-required ng-model="user.email" class="input-greensea" id="email" type="text"/>
		</div>

		<div align="center">
			<div ng-click="reset()" class="btn btn-default col-md-4">
				Send Reset Link
			</div>
			<div class="col-md-13" align="center"> <a ui-sref="login" class="resetText"> Back to login </a> </div>
		</div>
	</div>
</div>
</div>