<div class="col-md-s1">
	<input class="search-box" type="text" placeholder="Enter invoice no here" autofocus/>
	<div class="btn btn-default btn-fab" ng-click="searchItemId()"><i class="material-icons"> search </i></div>
</div>
<div class="metro-container">
	<div class="metro-tile metro-peterriver col-md-12 invoice-tile">
		<div class="metro-head"> </div>
		<div ng-click="" class="metro-content">
			<i class="material-icons"> <span class="invoice-icon"> search </span> </i>
			<div> Search For Invoice </div>
		</div>
		<div class="metro-footer"> </div>
	</div>
</div>

