<div class="message-screen"></div>

<div class="message-box">
	<div class="message-header" ng-class="style.headerColor">
		<i class="material-icons"> <span class="voucher-icon"> {{ icon }} </span></i>
		<div class="message-title"> {{ title }} </div>
	</div>

	<div class="message-box-content">
		<div class="col-md-s1">
			<label for="cashierid"> {{ searchTitle }} </label>
			<input ng-class="style.inputColor" id="cashierid" type="text"/>
		</div>

		<div ng-class="{'col-md-s3' : cancelEnabled, 'col-md-s4': !cancelEnabled}">
			<div ng-click="confirm()" class="btn btn-default">
				Search
			</div>
			<div ng-if="cancelEnabled" ng-click="cancel()" class="btn btn-warn">
				Cancel
			</div>
		</div>
	</div>
</div>