<div class="metro-container">
	<div class="metro-tile metro-peterriver col-md-6 voucher-tile">
		<div class="metro-head"> </div>
		<div ng-click="addVoucher()" class="metro-content">
			<i class="material-icons"> <span class="voucher-icon"> description </span> </i>
			<div> Create Voucher </div>
		</div>
		<div class="metro-footer"> </div>
	</div>

	<div class="metro-tile metro-sunflower col-md-6 voucher-tile">
		<div class="metro-head"> </div>
		<div ng-click="validateVoucher()" class="metro-content">
			<i class="material-icons"> <span class="voucher-icon"> assignment_turned_in </span> </i>
			<div> Validate voucher </div>
		</div>
		<div class="metro-footer"> </div>
	</div>
</div>

<div ng-if="showDialog" class="message-screen"></div>

<div ng-if="showDialog" class="message-box">
	<div ng-class="dialogProfile.color" class="message-header">
		<i class="material-icons"> <span class="voucher-icon"> {{dialogProfile.icon}} </span></i>
		<div class="message-title"> {{dialogProfile.name}} </div>
	</div>

	<div class="message-box-content">

		<div ng-if="dialogProfile.name == 'validateVoucher'">
			<div class="col-md-s1">
				<label for="voucherid"> Voucher ID </label>
				<input class="input-sunflower" id="voucherid" type="text"/>
			</div>
		</div>

		<div ng-if="dialogProfile.name == 'addVoucher'">
			<div class="col-md-s1">
				<label for="amount"> Amount </label>
				<input id="amount" type="text"/>

				<label for="validfrom"> Valid from </label>
				<input id="validfrom" type="text"/>

				<label for="validthrough"> Valid through </label>
				<input id="validthrough" type="text"/>

			</div>
		</div>

		<div class="col-md-s4">
			<div ng-click="createVoucher()" class="btn btn-default">
				Create
			</div>
		</div>
	</div>
</div>